<title>IdeaBox </title>
  <body>
      <div id="container">
          <h1>IdeaBox</h1>

              <form name="input" method="get" action="/<%=idea%>/search">
                Search: <input type="text" name='idea'/><br/>
                <input type='submit' value='Search Ideas'/>
              </form>

            <form action='/' method='POST'>

              <h2>Your Idea:</h2>
              <input type='text' name='idea[title]'/><br/>
              <textarea name='idea[description]'></textarea><br/>
              <p>Tags:</p>
              <input type='text' name='idea[tag]'/><br/>
              <input type='submit' value='Save Idea'/>
            </form>

            <div class="box">
                  <li><a href="http://turing.io"></a></li>
                  <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Something Else</a></li>
            </div>

              <div id="" ="section">
              <ul>
                <% ideas.each do |idea| %>
                  <li>
                    <%= idea.title %><br/>
                    <%= idea.description %>
                    <table border="0">
                    <tr>
                      <td><form action="/<%= idea.id %>" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="delete"/>
                      </form></td>
                      <td><form method="get" action="/<%= idea.id %>/edit">
                        <input type="submit" value='Edit'/>
                      </form></td>
                      <td><form action='/<%= idea.id %>/like' method='POST' style="display: inline">
                        <input type='submit' value="★"/>
                      </form></td>
                    </tr>
                    </table>

                  </li>
              </ul>
              </div>
              <% end %>
            </ul>
      </div>
  </body>
